
<section class="page-header">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Contact Us</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="page-wrapper">
     <div class="checkout shopping">
        <div class="container">
           <div class="row justify-content-center">
              <div class="col-lg-8 pr-5">
                 <div class="billing-details mt-3">
                    <form class="checkout-form">
                       <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group mb-4">
                                <label for="full_name">Full Name</label>
                                <input type="text" class="form-control" id="full_name" placeholder="">
                             </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group mb-4">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="">
                             </div>
                          </div>
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="msg">Message</label>
                                <!-- <input type="text" class="form-control" id="msg" placeholder=""> -->
                                <textarea class="form-control" id="msg" placeholder=""></textarea>
                             </div>
                          </div>
                          <div class="col-lg-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-success w-80 text-center col-12 col-md-4" routerLink="/">Send</button>
                          </div>
                       </div>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>