
<section class="page-header">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Add Products</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="page-wrapper">
     <div class="checkout shopping">
        <div class="container">
           <div class="row justify-content-center">
              <div class="col-lg-8 pr-5">
                 <div class="billing-details mt-3">
                    <form class="checkout-form" [formGroup]="validateForm" (ngSubmit)="submit()" >
                       <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group mb-4">
                                <label for="full_name">Product Name</label>
                                <input type="text" class="form-control" id="full_name" formControlName="productname" placeholder="">
                             </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group mb-4">
                                <label for="email">Description</label>
                                <input type="text" class="form-control" id="email" formControlName="description" placeholder="">
                             </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group mb-4">
                              <label for="email">Price</label>
                              <input type="text" class="form-control" formControlName="price" placeholder=" in INR">
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group mb-4">
                              <label for="email">Product Image</label>
                              <input type="file" class="form-control" formControlName="image" enctype="multipart/form-data" (change)="onFileChange($event)" placeholder="">
                            </div>
                          </div>
                          
                          <div class="col-lg-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-success w-80 text-center col-12 col-md-4">Send</button>
                          </div>
                       </div>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
