<div class="row">
    <div class="col-md-3 col-sm-6 col-12 pcard">
            <nz-card  [nzBordered]="false" nzTitle="Tomato" class="title-f" [nzExtra]="extraTemplate">
                <img src="../../../assets/img/Tomato.jpg" class="img-responsive" alt="">
                 <span class="pr"><b>Price:</b>100rs.</span>
                <button class="btn btn-outline-success mt-2" routerLink="/cart">Add to Cart</button>
            </nz-card>
        
          <ng-template #extraTemplate>
           
          </ng-template>
    </div>
    <div class="col-md-3 col-sm-6 col-12 pcard">
        <nz-card  [nzBordered]="false" nzTitle="Card title" class="title-f" [nzExtra]="extraTemplate">
            <img src="../../../assets/img/brinjal.jfif" class="img-responsive" alt="">
            <span class="pr"><b>Price:</b>100rs.</span>
           <button class="btn btn-outline-success mt-2" routerLink="/cart">Add to Cart</button>
        </nz-card>
    
      <ng-template #extraTemplate>
        <a>More</a>
      </ng-template>
</div>
<div class="col-md-3 col-sm-6 col-12 pcard">
    <nz-card  [nzBordered]="false" nzTitle="Card title" class="title-f" [nzExtra]="extraTemplate">
        <img src="../../../assets/img/capsicum.jpg" class="img-responsive" alt="">
        <span class="pr"><b>Price:</b>100rs.</span>
       <button class="btn btn-outline-success mt-2" routerLink="/cart">Add to Cart</button>
    </nz-card>

  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>
</div>
<div class="col-md-3 col-sm-6 col-12 pcard">
    <nz-card  [nzBordered]="false" nzTitle="Card title" class="title-f" [nzExtra]="extraTemplate">
        <img src="../../../assets/img/cabage.jfif" class="img-responsive" alt="">
        <span class="pr"><b>Price:</b>100rs.</span>
       <button class="btn btn-outline-success mt-2" routerLink="/cart">Add to Cart</button>
    </nz-card>

  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>
</div>
<div class="col-md-3 col-sm-6 col-12 pcard">
    <nz-card  [nzBordered]="false" nzTitle="Card title" class="title-f" [nzExtra]="extraTemplate">
        <img src="../../../assets/img/chili.jfif" class="img-responsive" alt="">
        <span class="pr"><b>Price:</b>100rs.</span>
       <button class="btn btn-outline-success mt-2" routerLink="/cart">Add to Cart</button>
    </nz-card>

  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>
</div>
<div class="col-md-3 col-sm-6 col-12 pcard">
    <nz-card  [nzBordered]="false" nzTitle="Card title" class="title-f" [nzExtra]="extraTemplate">
        <img src="../../../assets/img/couli.jfif" class="img-responsive" alt="">
        <span class="pr"><b>Price:</b>100rs.</span>
       <button class="btn btn-outline-success mt-2" routerLink="/cart">Add to Cart</button>
    </nz-card>

  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>
</div>
<div class="col-md-3 col-sm-6 col-12 pcard">
    <nz-card  [nzBordered]="false" nzTitle="Card title" class="title-f" [nzExtra]="extraTemplate">
        <img src="../../../assets/img/greenchilli.jfif" class="img-responsive" alt="">
        <span class="pr"><b>Price:</b>100rs.</span>
       <button class="btn btn-outline-success mt-2" routerLink="/cart">Add to Cart</button>
    </nz-card>

  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>
</div>
<div class="col-md-3 col-sm-6 col-12 pcard">
    <nz-card  [nzBordered]="false" nzTitle="Card title" class="title-f" [nzExtra]="extraTemplate">
        <img src="../../../assets/img/pease.jfif" class="img-responsive" alt="">
        <span class="pr"><b>Price:</b>100rs.</span>
       <button class="btn btn-outline-success mt-2" routerLink="/cart">Add to Cart</button>
    </nz-card>

  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>
</div>
<div class="col-md-3 col-sm-6 col-12 pcard">
    <nz-card  [nzBordered]="false" nzTitle="Card title" class="title-f" [nzExtra]="extraTemplate">
        <img src="../../../assets/img/Tomato.jpg" class="img-responsive" alt="">
        <span class="pr"><b>Price:</b>100rs.</span>
       <button class="btn btn-outline-success mt-2" routerLink="/cart">Add to Cart</button>
    </nz-card>

  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>
</div>
<div class="col-md-3 col-sm-6 col-12 pcard">
    <nz-card  [nzBordered]="false" nzTitle="Card title" class="title-f" [nzExtra]="extraTemplate">
        <img src="../../../assets/img/Tomato.jpg" class="img-responsive" alt="">
        <span class="pr"><b>Price:</b>100rs.</span>
       <button class="btn btn-outline-success mt-2" routerLink="/cart">Add to Cart</button>
    </nz-card>

  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>
</div>
<div class="col-md-3 col-sm-6 col-12 pcard">
    <nz-card  [nzBordered]="false" nzTitle="Card title" class="title-f" [nzExtra]="extraTemplate">
        <img src="../../../assets/img/Tomato.jpg" class="img-responsive" alt="">
        <span class="pr"><b>Price:</b>100rs.</span>
       <button class="btn btn-outline-success mt-2" routerLink="/cart">Add to Cart</button>
    </nz-card>

  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>
</div>
<div class="col-md-3 col-sm-6 col-12 pcard">
    <nz-card  [nzBordered]="false" nzTitle="Card title" class="title-f" [nzExtra]="extraTemplate">
        <img src="../../../assets/img/Tomato.jpg" class="img-responsive" alt="">
        <span class="pr"><b>Price:</b>100rs.</span>
       <button class="btn btn-outline-success mt-2" routerLink="/cart">Add to Cart</button>
    </nz-card>

  <ng-template #extraTemplate>
    <a>More</a>
  </ng-template>
</div>
</div>
